body{
    font-family: "VT323", "sans-serif";
    background-color: rgb(119, 207, 215) ;
}

div.game{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-bottom: 0px;
}
div{
    padding: 25px;
    font-size: larger;
    text-align: center;
}



.stats{
    display: flex;
    flex-flow: row nowrap;
    margin: 50px;
    margin-top: 0px;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

div.hunger{
    color: #ee0505;
}
div.sleep{
    color: #0d09eb;
}
div.fun{
    color: #ffea03;
}
div.age{
    color:rgb(24, 149, 24) 
}
.num{
    padding: 0px;
    margin: 0px;
}


div.msg{
    font-size: 128px;
}
div.thing{
    display: flex;
    align-items: center;
}



div.controls{
    display: flex;
    margin: 50px;
    font-size: 32px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
div.bttn1{
    color: black;
}