body{
    font-family: "VT323", "sans-serif";
}

div.game{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
div{
    padding: 25px;
    font-size: larger;
    text-align: center;
}



.stats{
    display: flex;
    flex-flow: row nowrap;
    margin: 100px;
    margin-top: 0px;
    font-size: 32px;
    margin-left: 100px;
    margin-right: 100px;
}

div.hunger{
    color: #9a9996;
}
div.sleep{
    color: #757470;
}
div.fun{
    color: #4e4d4b;
}
.num{
    padding: 0px;
    margin: 0px;
}


div.msg{
    font-size: 128px;
}
div.thing{
    display: flex;
    align-items: center;
}



div.controls{
    display: flex;
    margin: 100px;
    font-size: 32px;
}
div.bttn1{
    color: black;
}